{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo à Minha Aplicação</h1>
    </header>
    
    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será renderizado aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Minha Aplicação</p>
    </footer>
</body>
</html>
