{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}ContaTudo - Cadastrar{% endblock %}
    <div id="container">
        <div class="banner">
            <img src="{% static 'assets/img/register.svg'%}" alt="imagem-login">
        </div>
        <div class="box-login">
            <div class="box-account">
              <form action="{% url 'cadastro' %}" method="POST" class="sign-up-form" id="cadastro-form">
                {% csrf_token %}
                <h2 class="title">Cadastre-se</h2>
            
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Qual é o seu nome?" name="first_name" id="first_name" value="{{ request.POST.first_name }}"/>
                </div>
            
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" name="email" id="email" value="{{ request.POST.email }}"/>
                </div>
            
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Senha" name="senha" id="id_new_password1"/>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button>
                    
                </div>
            
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirme sua senha" name="confirm_password" id="id_new_password2"/>
                    <button type="button" id="toggleConfirmPassword" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button>
                    
                </div>
            
                <button type="submit" class="btn" id="submit-btn">CADASTRAR</button>
            </form>
            

            
            </div>
        </div>
    </div>
    <a href="{% url 'login' %}">
        <div id="bubble">
            <img src="{% static 'assets/img/user.png' %}" alt="Ícone de usuário" title="Fazer login">
        </div>
    </a>
{% endblock %}