{% extends 'base.html' %}
{% load static %}
{% block title %}ContaTudo - Login{% endblock %}
{% block content %}

    <div id="container">
        <div class="banner">
            <img src="{% static 'assets/img/login.svg'%}" alt="Imagem Referente a tela de Login da pagina - Online illustrations by Storyset">
        </div>
        <div class="box-login">
            <h1 class="logo_name">Conta<span>Tudo</span></h1>
            <p>Tenha total controle de seus gastos e do seu dinheiro, para um futuro financeiro estável e controlado...</p>
        <div class="box">
            <form action="{% url 'login' %}" method="POST" class="sign-up-form" id="login-form">
                {% csrf_token %}
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" name="email" id="email" value="{{ request.POST.email }}"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Senha" name="senha" id="senha"/>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button> 
                </div>
                <a href="{% url 'resetSenha' %}">
                    <p>Esqueceu a sua senha?</p>
                </a>
                <button type="submit" class="btn solid">Login</button>
            </form>           
            <a href="{% url 'cadastro'%}">
                <p>Criar uma conta</p>
            </a>
        </div>
        </div>
    </div>
{% endblock %}