{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}ContaTudo - Redefinição de Senha Enviado...{% endblock %}
        <div id="container">
            <div class="banner">
                <img src="{% static 'assets/img/password.svg' %}" alt="Imagem de recuperação de senha">
            </div>

            <div class="box-login">
                <div class="box-account">
                  <h2>Solicitação de Redefinição de Senha Enviada</h2>
                  <p>Verifique seu e-mail para um link de redefinição de senha. Caso não veja o e-mail na caixa de entrada, verifique a pasta de spam.</p>
                  <a class="btn" href="{% url 'login' %}">Voltar para o login</a>
                </div>
            </div>
        </div>
    {% endblock %}