{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}ContaTudo - Cadastrar{% endblock %}
        <div id="container">
            <div class="banner">
                <img src="{% static 'assets/img/password.svg' %}" alt="Imagem de recuperação de senha">
            </div>

            <div class="box-login">
                <div class="box-account">
                    <form method="POST"  action="{% url 'resetSenha' %}" class="sign-up-form">
                        {% csrf_token %}
                        <h2>Perdeu a sua senha?</h2>
                        <p>Recupere-a via e-mail agora. Insira o e-mail associado à sua conta.</p>
                        
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required class="form-control">
                        </div>

                        <p class="instructions">
                            Um e-mail com um link para redefinir sua senha foi enviado para o endereço que você informou. É muito importante que você verifique tanto a sua caixa de entrada quanto a pasta de spam.
                        </p>

                        <button type="submit" class="btn">Redefinir Senha</button>
                    </form>
                </div>
            </div>
        </div>
    <a href="{% url 'login' %}">
        <div id="bubble">
            <img src="{% static 'assets/img/user.png' %}" alt="Ícone de usuário" title="Fazer login">
        </div>
    </a>
{% endblock %}