{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if success_message %}
    <div class="message show" id="success-message">{{ success_message }}</div>
    {% endif %}
    
    <div class="main">
        <div id="container">
            <div class="banner">
                <img src="{% static 'assets/img/password.svg' %}" alt="Imagem de recuperação de senha">
            </div>

            <div class="box-login">
                <div class="box-account">
                    <form method="POST"  action="{% url 'resetSenha' %}" class="sign-up-form">
                        {% csrf_token %}
                        <h2>Perdeu a sua senha?</h2>
                        <p>Recupere-a via e-mail agora. Insira o e-mail associado à sua conta.</p>
                        
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required class="form-control">
                        </div>

                        <p class="instructions">
                            Um código será enviado para a sua caixa de entrada. Copie esse código e cole na próxima tela. Certifique-se de que seu e-mail esteja correto e que seja o mesmo da conta que deseja recuperar.
                        </p>

                        <button type="submit" class="btn">Obter o código</button>
                    </form>
                </div>
            </div>
        </div>
        
        <footer class="rodape">
            <p>Desenvolvido por <a href="https://github.com/Gabrielrsc">Gabriel Robertson</a> &copy; 2024 - <a href="https://storyset.com/online">Online illustrations by Storyset</a>.</p>
        </footer>
    </div>

    <a href="{% url 'login' %}">
        <div id="bubble">
            <img src="{% static 'assets/img/user.png' %}" alt="Ícone de usuário" title="Fazer login">
        </div>
    </a>
</body>
</html>
